<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/login.css" />
  <%-include ("./partials/header")%>
    <form class="formLogin">
            <div class="login">
                <input type="text" name="nombreUsuario" placeholder="Nombre de Usuari@" required>
            </div>
            <div class="password">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div class="ingresar">
            <button type="submit" class="ingresar">Ingresar</button>
     </form>
    </body>
    <%-include ("./partials/footer")%>
</html>