<!DOCTYPE html>
<html lang="en">
  <%-include ("./partials/header")%>
  <link rel="stylesheet" href="/css/register.css" />
    <form action="a" method="POST" class="formRegister">
        <label class="datosPersonales">Datos personales</label>
        <div class="inputHorizontal">
            <input type="text" name="nombreyapellido" placeholder="Nombre y Apellido" required>
        </div>
        <div class="inputHorizontal">
            <input type="text" name="nombreUsuario" placeholder="Nombre de Usuari@" required>
        </div>
        <div class="inputHorizontal">
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <label name="FechaNacimiento" id="fechaNacimiento">Fecha de nacimiento</label>
        </br>
            <input type="date" name="FechaNacimiento" class="fechaNacimiento" value="yyyy-mm-dd" required>
        </div>
        <div class="inputHorizontal">
            <input type="text" name="domicilio" placeholder="Domicilio" required>
        </div>
        <div>
            <label for="perfilUsuario" class="perfilUsuario">Perfil del usuari@ </label>
        </br>
                <select name="perfilUsuario">
                    <option selected>Selecciona una opción</option>
                    <option>Comprar</option>
                    <option>Vender</option>
                    
                </select>
             
        </div>
         <div class="categoriaInteres">
            <label name="categoriaDeInteres" id="titulo">Categorías de interés: </label>
   
                <label name="Electro"><input type="checkbox" name="categoriaDeInteres" value="Electro"> Electro</label>              </label>
                <label name="Moda"><input type="checkbox" name="categoriaDeInteres" value="Moda"> Moda</label>
                <label name="Hogar"><input type="checkbox" name="categoriaDeInteres" value="Hogar"> Hogar</label>
                <label name="Jugueteria"><input type="checkbox" name="categoriaDeInteres" value="Jugueteria"> Juguetería</label>
                <label name="vidaSana"><input type="checkbox" name="categoriaDeInteres" value="vidaSana"> Vida sana</label>
            
        </div>
        <div class="fotoPerfil">
           <label id="titulo">Foto de perfil:  <input type="file" name="imagenPerfil" accept=".jpg, .png"></label>
        </div class="inputHorizontal">
        <div class="inputHorizontal">
            <label id="titulo">Ingresá tu contraseña: <input type="password" name="password" placeholder="Contraseña" required></label>

        </div>
        <div class="inputHorizontal">
            <label id="titulo">Repetí tu contraseña: <input type="password" name="password" placeholder="Contraseña" required></label>
        </div>
        <button type="submit" class="submit">Enviar</button>
        <button type="reset" class="reset">Borrar</button>
    </form>
    <%-include ("./partials/footer")%>
</body>
</html>